.bench
.cache
.coverage
.DS_Store
.dist
.env
.env.development.local
.env.local
.env.production.local
.env.test.local
.envrc
.eslintcache
.idea
.next
.node_modules
.pnpm-debug.log*
.turbo
.tsconfig*.tsbuildinfo
*.local
~